* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bc-primary: hsl(218, 17%, 62%);
    --bc-secundary: hsl(0, 0%, 90%);
    --bc-tertiary: hsl(275, 18%, 79%);
    --bc-tarja: #FEFAFA;

    font-size: 62.5%; /*10px*/
    --ffm-headeling: 'Staatliches', cursive;
    --ffm-paragraph: 'Palanquin', sans-serif;

    --fc--primary: #FFFFFF;
    --fc-secundary: #23053A;
    
}

body {
    background-color: var(--bc-secundary);
    font-family: var(--ffm-headeling);
}

body::before {
    content: '';
    width: 100%;
    height: 28rem;
    background-color: var(--bc-primary);
    position: absolute;
    top: 0;
    z-index: -1;
}

.page {
    max-width: 38.5rem;
    margin: 0 auto 6rem;
    padding: 0 2rem;
}

header {
    margin: 3.2rem 0;
    text-align: center;
}

header {
    animation: topdown 900ms;
}

header h1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 3.4rem;

    letter-spacing: 0.05em;

    color: var(--fc--primary);
    background-color: var(--bc-tertiary);

    margin: 2rem 0;
    padding: 0.7rem 0;
}

main {
    max-width: 32rem;
    margin: 6rem auto;
    
    display: grid;
    gap: 3.2rem;

    animation: downtop 900ms; 
}

main p {
    font-family: var(--ffm-paragraph);
    color: var(--fc-secundary);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5rem;

    text-align: center;
    align-items: center; 

    margin-bottom: 3.1rem;
}

.card {
    position: relative;
}

.card img {
    height: auto;
    border-radius: 2rem;
}

.card h2 {
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 0.6rem 2rem;
    background: var(--bc-tarja);
    border-radius: 2rem;

    font-family: var(--ffm-headeling);
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    animation: topdownh 2s 900ms backwards;
}
/*---------------Animação----------------------*/

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translatex(-20px);
    }
    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translatex(20px);
    }
    100% {
        opacity: 1;
        transform: translatex(0)
    }
}

@keyframes topdownh {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }  
}

